* {
  font-family: Bebas Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  color: #000
}

html {
  overflow-x: hidden;
}

a {
  color: inherit;
}