@mixin bg-gradient-dark {
  background-color: #000000;
  background-image: linear-gradient(
    315deg,
    #414141 0%,
    #000000 55%,
    #414141 74%
  );
}

@mixin bg-gradient-light {
  background-color: #d2a813;
  background-image: linear-gradient(
    315deg,
    #e6b70f 0%,
    #000000 55%,
    #e6b70f 74%,
  );
}

@mixin noSelectText {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin titleBlack {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  letter-spacing: 0.155em;
}