$bg-main-color: #e5e5e5;
$color-white: #ffffff;
$color-black: #121212;
$color-dark-grey: #333333;
$color-grey: #4f4f4f;
$color-marine-blue: #03839e;
$color-marine-blue-transparent: rgba(3, 128, 158, 0.4);
$color-yellow: #ffe339;
$color-yellow-light: #ffec7a;
